<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev | HTML, CSS, JAVASCRIPT blog</title>

    <link rel="shortcut icon" href="./assets/image/shortcut.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
</head>
<body>

    <!-- st header -->
    <header>
        <div class="header-left">
            <a href="./index.html">
                <img src="./assets/image/logo.png" alt="logo" class="logo">
            </a>
            <div class="menu-wrap">
                <a class="menu-item active-item" href="./index.html">Trang chủ</a>
                <a class="menu-item" href="./profile.html">Giới thiệu</a>
                <a class="menu-item" href="./contact.html">Liên hệ</a>
            </div>
        </div>
        <div class="header-action">
            <a href="#">
                <div class="header-action-item search">
                    <i class='bx bx-search header-action-icon'></i>
                </div>
            </a>
            <div class="header-action-item account" id="account">
                <i class='bx bx-user header-action-icon'></i>

                <div class="account-wrap" id="account-wrap">
                    <div class="account-title">
                        <div class="account-title-div current">Tài khoản: <span class="account-span">trinhhung</span></div>
                        <div class="account-title-div current">User ID: <span class="account-span">DEV1</span></div>
                    </div>
                    <div class="account-list">
                        <a href="./information.html" class="account-item">
                            <i class='bx bx-user-pin'></i>
                            <span class="account-item-text">Trang cá nhân</span>
                        </a>
                        <a href="#" class="account-item">
                            <i class='bx bx-log-out'></i>
                            <span class="account-item-text">Đăng xuất</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- en header -->

    <!-- st container -->
    <div class="container">
        <section class="section">
            <div class="contact-wrapper">
                <div class="section-header">
                    <div class="section-header-text">Thông tin liên hệ</div>
                </div>
                <div class="contact-list">
                    <div class="contact-item">
                        <a href="#">
                            <i class='bx bxl-facebook-circle'></i>
                            <span>Trịnh Hùng</span>
                        </a>
                    </div>
                    <div class="contact-item">
                        <a href="#">
                            <i class='bx bxl-youtube'></i>
                            <span>DevCode</span>
                        </a>
                    </div>
                    <div class="contact-item">
                        <a href="#">
                            <i class='bx bxl-tiktok'></i>
                            <span>@DevCode</span>
                        </a>
                    </div>
                    <div class="contact-item">
                        <a href="#">
                            <i class='bx bxl-instagram-alt'></i>
                            <span>_DevCode_</span>
                        </a>
                    </div>
                    <div class="contact-item">
                        <a href="#">
                            <i class='bx bxl-twitter'></i>
                            <span>@DevCode</span>
                        </a>
                    </div>
                    <div class="contact-item">
                        <a href="#">
                            <i class='bx bx-envelope'></i>
                            <span>trinhhung@gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- en container -->

    <!-- st footer -->
    <footer>
        <div class="footer-wrap">
            <div class="footer-wrap-item">
                <a href="#"><img src="./assets/image/logo.png"></a>
            </div>
            <div class="footer-wrap-item">
                <h3 class="footer-title">Về chúng tôi</h3>
                <p class="footer-text">Chúng tôi muốn dành một thời khắc để gửi lời cảm ơn sâu sắc 
                    và lòng biết ơn chân thành đến tất cả các bạn. Các bạn không chỉ là những "người 
                    lập trình," mà còn là những nhà thầu, nghệ sĩ và tiến sĩ của không gian kỹ thuật, 
                    là những người đã xây dựng nên nền tảng của Internet và biến mọi thứ trở nên trực tuyến.</p>
            </div>
            <div class="footer-wrap-item">
                <h3 class="footer-title">Theo dõi</h3>
                <div class="follow-lis">
                    <a href="#" class="follow-item"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="follow-item"><i class='bx bxl-youtube'></i></a>
                    <a href="#" class="follow-item"><i class='bx bxl-instagram'></i></a>
                </div>
            </div>
        </div>
        <div class="footer-sub">
            <p>Copyright © 2023 <a href="#">Dev</a> All Rights Reserved</p>
        </div>
    </footer>
    <!-- en footer -->


    <!-- st backtop -->
    <div class="backtop" id="backtop">
        <i class='bx bx-chevron-up'></i>
    </div>
    <!-- en backtop -->


    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="./assets/js/script.js"></script>
    <script>
        $('textarea').each(function () {
            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
        }).on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    </script>
</body>
</html>