<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!-- toast messages -->
    <div class="toast" id="myToast">
        <i class='bx bxs-error-circle'></i>
        <div class="toast-body">
            <div class="toast-title">Thông báo</div>
            <p class="toast-text">Mật khẩu của bạn không đúng!</p>
        </div>
        <i class="bi bi-x" onclick="closeToast()"></i>
    </div>

    <script src="./assets/js/message.js"></script>
</body>
</html>